h1{
    margin-left: 20px;
}
form{
    margin-left: 50px;
    margin-right: 50px;
}
#from{
    width: 200px;
}
#location-button{
    margin-top: 4px;
    margin-left: 50px;
}
.message-container{
    margin-top: 10px;
    margin-left: 12px;
}